1. 기본 가이드 라인

- 답은 항상 한국어로 해줘. 단계별로 차근차큰 알려주고. 공식 문서를 참고해서 개발해줘

- 이 프로젝트에서 나는 악기 연주자들이 특정 곡에 연주한 커버 녹음 파일을 업로드하면 그 원곡 유튜브와 같이 재생되서 사용자가 여러 명의 커버곡을 들어보고 투표하는 웹앱을 만들고 싶어

- 유저 인증을 제외하고 모든 기능들은 Nextjs 15이기에 /lib/actions 폴더에 있는 파일들을 사용해서 server action으로 구현할 것
- prisma client를 활용해 db에 접근할 것

1-1 버그 수정:
   - 문제를 철저히 분석한 후 수정 제안을 합니다.
   - 정밀하고 타겟이 된 해결책을 제공합니다.
   - 버그의 근본 원인을 설명합니다.

1-2 간단하게 유지:
   - 가독성과 유지보수를 우선시합니다.
   - 해결책을 과도하게 설계하지 않습니다.
   - 가능한 경우 표준 라이브러리 및 패턴을 사용합니다.

1-3 코드 변경:
   - 변경 사항을 제안하기 전에 명확한 계획을 세웁니다.
   - 한 파일에 모든 수정을 적용합니다.
   - 관련이 없는 파일은 수정하지 않습니다.

2. 개발 스택

-   Next.js(14)
-   Typescript
-   neon postgres
-   AWS S3
-   배포: Vercel
-   그 외 추가 가능

3. 필요한 주요 route 및 기능
핵심 기능은 유튜브 커버곡 감상 시 유튜브 영상과 동시에 재생되서 싱크가 맞아 유저가 즐길 수 있도록 함

3-1. public routes
- /login: 소셜 로그인 및 회원가입 페이지
- /dashboard
	- 홈페이지. 로그아웃하면 이 페이지로 리다이렉트 됨
	- 커버곡이 업로드된 영상 목록 페이지
	- 커버곡이 업로드된 영상 검색 Input
- /cover/[videoId]
	- 해당 유튜브 비디오에 대한 상세 정보(좌측)
	- 해당 유튜브 비디오에 대한 커버 음원 목록(우측). 재생 가능
	- 좋아요/싫어요 기능은 인증된 유저만 가능하고, 인증되지 않은 유저는 로그인하고 좋아요 표시하기 와 같은 링크 버튼이 보인다
- /profile/[userId]
	- 해당 유저의 프로필 페이지
	- 해당 유저가 올린 커버 음원 목록 확인 가능
	-  유저 프로필 페이지에 커버 음원 목록 외에 유저 정보 표시

	
- /profile/[userId]/cover/[coverId]
	- 해당 유저가 올린 커버 음원 상세 페이지
	- 음원 재생 가능. 음원 좋아요/싫어요 기능은 인증된 유저만 가능하고, 인증되지 않은 유저는 로그인하고 좋아요 표시하기 와 같은 링크 버튼이 보인다

3-2. authenticated routes
-  /music/upload/[videoId]
	- 해당 유튜브 영상에 해당하는 커버곡 업로드 폼
	- 좌측에 유튜브 영상 재생, 우측에 커버곡 업로드 폼
- /music/search
	- URL을 입력할 수 있는 유튜브 영상 검색 Input
- /profile
	- 유저 프로필 페이지
	- 유저가 올린 커버 음원 목록 확인 가능
	-  유저 프로필 페이지에 커버 음원 목록 외에 유저 정보 표시


4. 추후 추가 기능
-   유저마다 커버 음원 업로드 수 제한: 5회
-   구독 결제 기능: 구독하면 횟수 무제한 업로드 가능
